{% extends "cover.html" %}


{% block main %}

<script type="text/javascript" src="dist/js/funnelScripts.js"></script>


<h1 style="text-align: center; font-size:20px">The Dashboard
    <small>Beta</small>
</h1>



<div class="flexGroup">
    <div class="ui-widget flexItem">
        <label for="companyName">Company:</label><br>
        <select name="ddl1" id="ddl1" style="display: hidden"
            onchange="configureDDL2(this, document.getElementById('ddl2'), document.getElementById('ddl3'))">
            <option value="nothing" selected>Choose</option>
            {% for p in postingDepartment %}
            <option value="{{ p }}">{{ p }}</option>
            {% endfor %}
        </select>
    </div>



    <div class="ui-widget flexItem">
        <label for="postingTeam">Team:</label><br>
        <select name="ddl2" id="ddl2" style="display: hidden"
            onchange="configureDDL3(document.getElementById('ddl1'), this, document.getElementById('ddl3'))">
            <option value="nothing" selected>Choose</option>
        </select>
    </div>


    <div class="ui-widget flexItem">
        <label for="postingTitle">Title:</label><br>
        <select name="ddl3" id="ddl3" style="display: hidden">
            <option value="All" selected>All</option>
        </select>
    </div>


    <div class="ui-widget flexItem">
        <label for="  ">Profile Archived :</label><br>
        <select name="profileArchiveStatus" id="profileArchiveStatus" style="display: hidden">
            <option value="Both" selected>Both</option>
            {% for p in profileArchiveStatus %}
            {% if p == 'false' %}
            <option value="{{ p }}">Active</option>
            {% elif p == 'true' %}
            <option value="{{ p }}">Archived</option>

            {% endif %}
            {% endfor %}
        </select>
    </div>


    <div class="flexItem">
        <button id="send" class="btn btn-primary">Go</button>
    </div>
</div>

<div id="chartdivs"></div>



{% endblock %}