<!-- Used to display the Posting which are LIVE  -->
{% extends "cover.html" %} 

{% block main %}

<script type="text/javascript" src="dist/js/livePostingsScripts.js"></script>

<div id='toggleCollapse' style="font-size: 11px; cursor: pointer; display:none; width:5%;">Expand all</div>
<div id="example-table" style="margin: 20px 10px 20px 20px; display: none;"></div>
<div id="chartdivs" style="display: none;"></div>
<div id="nobodyFound" style="display: none;">
    <div style="text-align:center; margin: 10% auto;">
        <h2>No Candidates here !</h2>
        <h4>Try changing Profile status</h4>
    </div>
</div>
<!-- So, this div holds a table which is created on the fly to enable PDF download -->
<div style="display:none" id="tableDiv"></div>

{% endblock %}