
{% block mainPageDropdowns %}

    <!-- All the dropdowns & tables only rendered when required -->
    {% if activateDropdownsAndTable == "yes" %}
    <!-- Share box for custom filter -->
    <div class="chat-popup" id="shareDialog">
        <div class="form-container">
            <h3 style="margin:10px 20% 0px 20%">Share Filter</h3>
            <br>
            <select multiple name="shareSelect" id="shareSelect" class="select2-dropdown" style="display: hidden">
            </select>
            <br>
            <button type="button" class="btn" id="shareTrigger">Share</button>
            <button type="button" class="btn cancel" id="shareDialogCloser" onclick="closeShareDialog()">Close</button>
        </div>
    </div>
    <div class="menu dropdown-column">
        <div style="float: right; color:#808080">
            <div class="tooltip">
                <i id="saveFilter" style="cursor: pointer" class="fa fa-bookmark" aria-hidden="true"></i>
                <span class="tooltiptextCustomFilter">Save filter</span>
            </div>
            <div class="tooltip">
                <i id="deleteFilter" style="cursor: pointer" class="fa fa-trash" aria-hidden="true"></i>
                <span class="tooltiptextCustomFilter">Delete filter</span>
            </div>
            <div class="tooltip">
                <i id="shareFilter" style="cursor: pointer" class="fa fa-share-alt" aria-hidden="true"></i>
                <span class="tooltiptextCustomFilter">Share filter</span>
            </div>
        </div>
        <ul>
            <li>
                <div class="ui-widget flexItem">
                    <label style="font-size: 12px;" for="customFilters">Custom Filters:</label><br />
                    <select name="customFilterDD" id="customFilterDD" class="select2-dropdown" style="display: hidden" onchange="applyCustomFilterWaterfall(document.getElementById('customFilterDD'))">
                        <option value="nothing" selected>Choose</option>
                        {% for fil in customFilterNames %}
                        <option value="{{ fil }}">{{ fil }}</option>
                        {% endfor %}
                    </select>
                </div>
            </li>
            {% if activateRecruiterDropdown == "yes" %}
            <li>
                <div class="ui-widget flexItem">
                    <label style="font-size: 12px;" for="recruiterName">Recruiter:</label><br />
                    <select name="ddl0" id="ddl0" class="select2-dropdown" style="display: hidden" onchange="popCompany(document.getElementById('ddl0'), document.getElementById('ddl1'), document.getElementById('ddl2'), document.getElementById('ddl3'))">
                        <option value="All" selected>All Recruiters</option>
                        {% for p in postingOwner %}
                        <option value="{{ p }}">{{ p }}</option>
                        {% endfor %}
                    </select>
                </div>
            </li>
            {% endif %}
            <li>
                <div class="ui-widget flexItem">
                    <label style="font-size: 12px;" for="companyName">Company:</label><br />
                    {% if activateRecruiterDropdown == "yes" %}
                    <select name="ddl1" id="ddl1" class="select2-dropdown" style="display: hidden" onchange="popDept(document.getElementById('ddl0'), this,document.getElementById('ddl2'), document.getElementById('ddl3'))">
                        <option value="nothing" selected>Choose</option>
                    </select>
                    {% else %}
                    <select name="ddl1" id="ddl1" class="select2-dropdown" style="display: hidden" onchange="configureDDL2(document.getElementById('ddl1'), document.getElementById('ddl2'), document.getElementById('ddl3'))">
                        <option value="nothing" selected>Choose</option>
                        {% for p in postingDepartment %}
                        <option value="{{ p }}">{{ p }}</option>
                        {% endfor %}
                    </select>
                    {% endif %}
                </div>
            </li>
            <li>
                <div class="ui-widget flexItem">
                    <label style="font-size: 12px;" for="postingTeam">Team:</label><br />
                    {% if activateRecruiterDropdown == "yes" %}
                    <select name="ddl2" id="ddl2" class="select2-dropdown" style="display: hidden" onchange="popPost(document.getElementById('ddl0'), document.getElementById('ddl1'), document.getElementById('ddl2'), document.getElementById('ddl3'))">
                        <option value="nothing" selected>Choose</option>
                    </select>
                    {% else %}
                    <select name="ddl2" id="ddl2" class="select2-dropdown" style="display: hidden" onchange="configureDDL3(document.getElementById('ddl1'), document.getElementById('ddl2'), document.getElementById('ddl3'))">
                        <option value="nothing" selected>Choose</option>
                    </select>
                    {% endif %}
                </div>
            </li>
            <li>
                <div class="ui-widget flexItem">
                    <label style="font-size: 12px;" for="postingTitle">Title:</label><br />
                    <select multiple name="ddl3" id="ddl3" class="select2-dropdown" style="display: hidden">
                        <!-- <option value="All" selected>All</option> -->
                    </select>
                </div>
            </li>
            <li>
                <div class="ui-widget flexItem">
                    <label style="font-size: 12px;" for="  ">Profile Status :</label><br />
                    <select name="profileArchiveStatus" id="profileArchiveStatus" class="select2-dropdown" style="display: hidden">
                        <option value="Both">Both</option>
                        <option value="false" selected>Active</option>
                        <option value="true">Archived</option>
                    </select>
                </div>
            </li>
            <li>
                <div class="ui-widget flexItem">
                    <label style="font-size: 12px;" for="">From:</label><br />
                    <input type="text" id="fromdatepicker" class="select2-dropdown" autocomplete="off" />
                </div>
            </li>
            <li>
                <div class="ui-widget flexItem">
                    <label style="font-size: 12px;" for="">To:</label><br />
                    <input type="text" id="todatepicker" class="select2-dropdown" autocomplete="off" />
                </div>
            </li>
            <li>
                <div class="flexGroup2">
                    <button id="sendForTable" class="btn btn-primary flexItem2">
                        Table view
                    </button>
                    <button id="sendForFunnel" class="btn btn-primary flexItem2" style="display:none">
                        Funnel view
                    </button>
                </div>
            </li>
        </ul>
    </div>
    {% endif %}
{% endblock %}