{% extends "cover.html" %}


{% block main %}

<link href="dist/css/modifyUserStyles.css" rel="stylesheet">
<script type="text/javascript" src="dist/js/modifyUsersScripts.js"></script>

<body>
    <div class="container">
        <div style="text-align: center;">
            <h2>Add People</h2>
            <p>Include people inside the club</p>
        </div>
        <form action="/addDeleteModifyUser" method="post">
            <div class="row">
                <div class="col-25">
                    <label for="fname">Email ID</label>
                </div>
                <div class="col-75">
                    <input type="text" id="emailID" name="emailID" placeholder="That email ID..">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-25">
                    <label for="Type">Type</label>
                </div>
                <div class="col-75">
                    <input type="radio" name="typeOfUser" value="Regular" checked="checked"> Regular<br><br>
                    <input type="radio" name="typeOfUser" value="Admin"> Admin<br>
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="Type">Position filter</label>
                </div>
                <div class="col-75">
                    <input type="radio" name="positionFilter" value="all" checked="checked"> All postings<br><br>
                    <input type="radio" name="positionFilter" value="respective"> Only related ones<br>
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="Type">TAT team member:</label>
                </div>
                <div class="col-75">
                    <input type="radio" name="tatmember" value="Nope" checked="checked"> Nope<br><br>
                    <input type="radio" name="tatmember" value="Yeah"> Yeah<br>
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="Type">Companies allowed:</label>
                </div>
                <div class="col-75">
                    <table style="border: 0px solid black">
                        <tr>

                        </tr>
                        <tr>
                            <td><input type="checkbox" name="companiesToBeAllowed" value="Campus" checked> Campus</td>
                            <td><input type="checkbox" name="companiesToBeAllowed" value="Codechef" checked> CodeChef
                            </td>
                            <td><input type="checkbox" name="companiesToBeAllowed" value="Flock" checked> Flock</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="companiesToBeAllowed" value="Radix" checked> Radix</td>
                            <td><input type="checkbox" name="companiesToBeAllowed" value="Shared Services" checked>
                                Shared Services</td>
                        </tr>

                    </table>


                </div>
            </div>

            <div class="row">
                <input type="submit" value="Submit">
            </div>
            <input style="display: none" value="addUser" name="actionType">
        </form>
    </div>





    <div class="container">
        <div style="text-align: center;">
            <h2>Enlisted People</h2>
            <p>Members of our club</p>
        </div>
        <table>
            <tr>
                <th>User</th>
                <th>Type</th>
                <th>TAT Member</th>
                <th>Position filter</th>
                <th></th>
            </tr>
            {% for us in usersList %}

            <tr>
                <th class="users">{{us['users']}}</th>

                <!-- <th class="type">{{us['type']}}</th> -->
                <th class="type">
                    <select class="type-member-column">
                        {% if us['type'] =="admin" %}
                            <option value="admin" selected>Admin</option>
                            <option value="regular">Regular</option>
                        {% endif %}
                        {% if us['type'] =="regular" %}
                            <option value="admin">Admin</option>
                            <option value="regular" selected>Regular</option>
                        {% endif %}
                    </select>
                </th>


                <!-- <th class="tatMember">{{us['tatMember']}}</th> -->
                <th class="tatMember">
                    <select class="tat-member-column">
                        {% if us['tatMember'] =="Yeah" %}
                            <option value="Yeah" selected>Yeah</option>
                            <option value="Nope">Nope</option>
                        {% endif %}
                        {% if us['tatMember'] =="Nope" %}
                            <option value="Yeah">Yeah</option>
                            <option value="Nope" selected>Nope</option>
                        {% endif %}
                    </select>
                </th>

                <!-- <th class="whichPositions">{{us['whichPositions']}}</th> -->
                <th class="whichPositions">
                    <select class="position-filter-column">
                        {% if us['whichPositions'] =="all" %}
                            <option value="all" selected>All Postings</option>
                            <option value="respective">Only related</option>
                        {% endif %}
                        {% if us['whichPositions'] =="respective" %}
                            <option value="all">All Postings</option>
                            <option value="respective" selected>Only related</option>
                        {% endif %}
                    </select>
                </th>


                <th><input type="button" class="modify-button modify" id="modify" value="Update"></th>
                <th><input type="button" class="delete-button delete" id="delete" value="Delete"></th>
            </tr>
            {% endfor %}
        </table>


    </div>

{% endblock %}
