<!-- Used to display the Candidates whose count was reported  -->

{% extends "cover.html" %} {% block main %}

<link href="dist/css/numbersElaboratedHomepageCandidatesStyles.css" rel="stylesheet">


<div style="display:flex; justify-content:center;">
  <table id="candidate-table">
    <thead>
      <tr>
        <th></th>
        <th width="200">Candidate Name</th>
      </tr>
    </thead>
    <tbody>
      {% for can in candidates %}
        <tr>
          <td>{{ can['count'] }}</td>
          <td><a href="https://hire.lever.co/candidates/{{ can['Profile ID'] }}">{{ can["Candidate Name"]}}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


<script type="text/javascript">
  // Modify title
  document.title = 'Candidates';
  
</script>

{% endblock %}
