{% extends "cover.html" %}


{% block main %}

<h2>Privacy policy</h2>
<p>This document outlines how TATreports collects, stores, and uses your data. By reading this page, you agree to abide
    by the terms of this policy. We reserve the right to update this policy as and when needed.</p>
<p>We collect & store your email ID and name.</p>
<p>This subdomain is only for internal usage purposes & any clarification regarding its usage shall be sought from TA
    team. TA team reserves the right to change the entire subdomain & its layout without prior notice.</p>


{% endblock %}