{% extends "cover.html" %}

{% block main %}

<link href="dist/css/teamPageStyles.css" rel="stylesheet">
<script type="text/javascript" src="dist/js/teamPageScripts.js"></script>


<!-- Origin selection dropdown -->
<div style="margin: 0px 0px 10px 0px;">
    <select name="originChoices" id="originChoices" onchange="refreshSerenity()">
        <option selected="selected" value="referred">Referred</option>
        <option value="agency">Agency</option>
        <option value="applied">Applied</option>
        <option value="sourced">Sourced</option>
    </select>

    <span class="ui-widget flexItem">
        <label for="">From:</label>
        <input type="text" id="fromdatepicker" autocomplete="off">
    </span>

    <span class="ui-widget flexItem">
        <label for="">To:</label>
        <input type="text" id="todatepicker" autocomplete="off">
    </span>

    <span><button id="sendForTable" class="btn btn-primary flexItem2" onclick="clickAllButs();">Go</button></span>

    <button id="sendForTable1" style="visibility: hidden;"></button>
    <button id="sendForTable2" style="visibility: hidden;"></button>
    <button id="sendForTable3" style="visibility: hidden;"></button>

</div>



<!-- Tabs -->
<div class="tab">
    <button class="tablinks" id="LondonBut" onclick="openCity(event, 'London')">New applicant</button>
    <button class="tablinks" id="ParisBut" onclick="openCity(event, 'Paris')">Archived</button>
    <button class="tablinks" id="TokyoBut" onclick="openCity(event, 'Tokyo')">Offered</button>
</div>

<div id="London" class="tabcontent">

    <div class="grid-container">
      <div class="grid-item">

        <table>
          <tr>
            <td>
                <div id="referal-side-table" style="width:375px;"></div>
            </td>

            <td>
                <a href="#" style="text-decoration:none; color:initial;">
                  <i class="fa fa-bar-chart" aria-hidden="true" onclick="toggleDisplay('referal-side-graph')"></i>
                </a>  
            </td>
          </tr>
        </table>
        
        
      </div>  
      <div class="grid-item">
        <div id="referal-side-graph" style="visibility: hidden;"></div>
      </div>
    </div>


    <div class="grid-container">
      <div class="grid-item">
        <div id="referal-side-graph00" style="visibility: hidden;"></div>
      </div>  
      <div class="grid-item">

        <table>
          <tr>
            <td>
                <a href="#" style="text-decoration:none; color:initial;">
                  <i class="fa fa-bar-chart" aria-hidden="true" onclick="toggleDisplay('referal-side-graph00')"></i>
                </a>
            </td>
            
            <td>
                <div id="referal-side-table00" style="width:375px;"></div>
            </td>
          </tr>
        </table>
        
      </div>
    </div>




    <h3>Referrals in New Applicant stage</h3>

    <div class="ui-widget flexItem">
        Ageing in New Applicant Stage: Average Overall - <span id="average-ageing-count"></span> days
    </div>

    <div id="referal-up-table"></div>
    <div id="referal-low-table" style="margin: 20px;"></div>

</div>




<div id="Paris" class="tabcontent">
    <h3>Response - Application to Archive</h3>

    <div class="ui-widget flexItem">
        Average Days (Response: Application stage to archive Stage) - <span id="average-ageing-count2"></span> days
    </div>

    <div id="referal-up-table2" style="width:375px;"></div>
    <div id="referal-low-table2" style="margin: 20px;"></div>
</div>




<div id="Tokyo" class="tabcontent">
    <h3>Response - Application to Offer</h3>


    <div class="ui-widget flexItem">
        Average Days (Response: Application stage to Offer Stage) - <span id="average-ageing-count3"></span> days
    </div>

    <div id="referal-up-table3" style="width:375px;"></div>
    <div id="referal-low-table3" style="margin: 20px;"></div>
</div>

<!-- Getting the charting stuff -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


{% endblock %}
