<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>jQuery UI ComboBox</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>


    <link rel="stylesheet" type="text/css" href="/css/result-light.css">

    <link rel="stylesheet" type="text/css"
        href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/smoothness/jquery-ui.css">

    <style id="compiled-css" type="text/css">
        body {
            font-size: 10px;
        }

        .ui-combobox {
            position: relative;
            display: inline-block;
        }

        .ui-combobox-button {
            position: absolute;
            top: 0;
            bottom: 0;
            margin-left: -1px;
            padding: 0;
            /* adjust styles for IE 6/7 */
            *height: 1.7em;
            *top: 0.1em;
        }

        .ui-autocomplete-input {
            margin: 0;
            padding: 0.3em;
        }
    </style>


    <!-- TODO: Missing CoffeeScript 2 -->

    <script type="text/javascript">//<![CDATA[

        (function ($) {
            $.widget("ui.combobox", {
                _create: function () {
                    var input, self = this,
                        select = this.element.hide(),
                        selected = select.children(":selected"),
                        value = selected.val() ? selected.text() : "",
                        wrapper = $("<span>").addClass("ui-combobox").insertAfter(select);

                    input = $("<input>").appendTo(wrapper).val(value).addClass("ui-state-default").autocomplete({
                        delay: 0,
                        minLength: 0,
                        source: function (request, response) {
                            var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i");
                            response(select.children("option").map(function () {
                                var text = $(this).text();
                                if (this.value && (!request.term || matcher.test(text))) return {
                                    label: text.replace(
                                        new RegExp("(?![^&;]+;)(?!<[^<>]*)(" + $.ui.autocomplete.escapeRegex(request.term) + ")(?![^<>]*>)(?![^&;]+;)", "gi"), "<strong>$1</strong>"),
                                    value: text,
                                    option: this
                                };
                            }));
                        },
                        select: function (event, ui) {
                            ui.item.option.selected = true;
                            self._trigger("selected", event, {
                                item: ui.item.option
                            });

                        },
                        change: function (event, ui) {
                            if (!ui.item) {
                                var matcher = new RegExp("^" + $.ui.autocomplete.escapeRegex($(this).val()) + "$", "i"),
                                    valid = false;
                                select.children("option").each(function () {
                                    if ($(this).text().match(matcher)) {
                                        this.selected = valid = true;
                                        return false;
                                    }
                                });
                                if (!valid) {
                                    // remove invalid value, as it didn't match anything
                                    $(this).val("");
                                    select.val("");
                                    input.data("autocomplete").term = "";
                                    return false;
                                }
                            }
                        }
                    }).addClass("ui-widget ui-widget-content ui-corner-left");

                    input.data("autocomplete")._renderItem = function (ul, item) {
                        return $("<li></li>").data("item.autocomplete", item).append("<a>" + item.label + "</a>").appendTo(ul);
                    };

                    $("<button>").attr("tabIndex", -1).attr("title", "Show All Items").appendTo(wrapper).button({
                        icons: {
                            primary: "ui-icon-triangle-1-s"
                        },
                        text: false
                    }).removeClass("ui-corner-all").addClass("ui-corner-right ui-button-icon ui-combobox-button").click(function () {
                        // close if already visible
                        if (input.autocomplete("widget").is(":visible")) {
                            input.autocomplete("close");
                            return;
                        }

                        // work around a bug (likely same cause as #5265)
                        $(this).blur();

                        // pass empty string as value to search for, displaying all results
                        input.autocomplete("search", "");
                        input.focus();
                    });
                },

                destroy: function () {
                    this.wrapper.remove();
                    this.element.show();
                    $.Widget.prototype.destroy.call(this);
                }
            });
        })(jQuery);

        $(function () {
            $("#combobox").combobox({
                selected: function (event, ui) {
                    $('#log').text('selected ' + $("#combobox").val());
                }
            });

            $("#combobox2").combobox({
                selected: function (event, ui) {
                    $('#log').text('selected ' + $("#combobox2").val());
                }
            });


            //$("#combobox").closest(".ui-widget").find("input, button").prop("disabled", true);
        });

    </script>

</head>

<body>
    <div style="padding:10px;border:1px Solid Silver;">
        <div class="ui-widget">
            <label for="">Age:</label>
            <select name="age" id="combobox" style="display: hidden">
                <option value="beginningOfTime" selected>Beginning of Time</option>
                <option value="3 Days Old">3 Days Old</option>
                <option value="7 Days Old">7 Days Old</option>
                <option value="15 Days Old">15 Days Old</option>
                <option value="1 Months Old">1 Month Old</option>
                <option value="2 Months Old">2 Months Old</option>
                <option value="3 Months Old">3 Months Old</option>
                <option value="4 Months Old">4 Months Old</option>
                <option value="6 Months Old">6 Months Old</option>
            </select>
        </div>
    </div>

    <div style="padding:10px;border:1px Solid Silver;">
        <div class="ui-widget">
            <label for="">Age:</label>
            <select name="age" id="combobox2" style="display: hidden">
                <option value="beginningOfTime" selected>Beginning of Time</option>
                <option value="3 Days Old">3 Days Old</option>
                <option value="7 Days Old">7 Days Old</option>
                <option value="15 Days Old">15 Days Old</option>
                <option value="1 Months Old">1 Month Old</option>
                <option value="2 Months Old">2 Months Old</option>
                <option value="3 Months Old">3 Months Old</option>
                <option value="4 Months Old">4 Months Old</option>
                <option value="6 Months Old">6 Months Old</option>
            </select>
        </div>
    </div>


</body>

</html>