{% extends "cover.html" %}

{% block main %}

<div class="form-wrap">
    <h3>Upload Data Dump from Lever</h3>

    <form action="/upload" method="post" enctype="multipart/form-data">
        Select Big dump:
        <input type="file" name="file"><br><br>
        Select Posting dump:
        <input type="file" name="file2"><br><br>
        <input type="submit" value="Upload CSV file" name="submit">
    </form>

</div>

<script>
    // Modify title
    document.title = "Upload";
</script>
{% endblock %}