<!DOCTYPE html>
<html lang="en">

<head>
    <link href="dist/css/customStyle.css" rel="stylesheet">
    <link href="dist/css/tabulator.min.css" rel="stylesheet">
    <link href="dist/css/funnelStyles.css" rel="stylesheet">
    <link href="dist/css/uploaderStyles.css" rel="stylesheet">
    <link href="dist/css/dropdownStyles.css" rel="stylesheet">
    <link href="dist/css/topNavbarStyles.css" rel="stylesheet">
    <script type="text/javascript" src="dist/js/tabulator.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">





    <!-- For dropdown -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
        .custom-combobox {
            position: relative;
            display: inline-block;
        }

        .custom-combobox-toggle {
            position: absolute;
            top: 0;
            bottom: 0;
            margin-left: -1px;
            padding: 0;
        }

        .custom-combobox-input {
            margin: 0;
            padding: 5px 10px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="dist/js/dropdown.js"></script>

    <!-- Resources for charts-->
    <script type="text/javascript" src="dist/js/d3.js"></script>
    <script type="text/javascript" src="dist/js/d3-funnel.js"></script>
    <script type="text/javascript" src="dist/js/funnelScript2.js"></script>
    <script type="text/javascript" src="dist/js/dropdown.js"></script>


    <!-- For Downloading report -->
    <script type="text/javascript" src="dist/js/downloadReport.js"></script>
    <script type="text/javascript"
        src="https://cdn.rawgit.com/simonbengtsson/jsPDF/requirejs-fix-dist/dist/jspdf.debug.js"></script>
    <script type="text/javascript" src="https://unpkg.com/jspdf-autotable@2.3.2"></script>

    <!-- For Google signin -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id"
        content="409502799386-6r7ba3thnc8nl7c0fllp88mggvrgth8s.apps.googleusercontent.com">
    <style>
        .abcRioButton.abcRioButtonLightBlue {
            margin: 0 auto;
        }
    </style>






</head>

<body>
    <div class="topnav">
        <a class="navbar-brand" href="/"><img style="height:40px" src="/dist/img/directi_logo.png" alt="Directi">
        </a>
        <!-- <a href="/table">Table</a>
        <a href="/funnel">Funnel Report</a> -->
        <div class="search-container">
            {% if adminOptions == True %}
            <div><a href="/upload">Upload</a></div>
            <div><a href="/modifyUser">Users</a></div>
            {% endif %}
            <div><a href="/logout">Sign out</a></div>
            <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div>
            <div><a href="/logout" onclick="signOut();">Sign out</a></div> -->
        </div>
    </div>

    <div class="topnav">
        <div class="search-container">
            Last Updated:<br> {{lastUpdated}}
        </div>
    </div>



    <!-- <div id="loginButton" class="g-signin2" data-onsuccess="onSignIn" data-theme="light" data-width="300"
        data-height="50" data-longtitle="true"></div> -->






    {% block main %}{% endblock %}


    <div class="modal">
        <!-- For loading everytime some ajax is fired. Inspiration from https://stackoverflow.com/questions/1964839/how-can-i-create-a-please-wait-loading-animation-using-jquery -->
    </div>
    <script>
        $body = $("body");

        $(document).on({
            ajaxStart: function () { $body.addClass("loading"); },
            ajaxStop: function () { $body.removeClass("loading"); }
        });
    </script>

</body>

</html>