{% extends "cover.html" %}


{% block main %}

<h1 style="text-align: center; font-size:20px">The Dashboard
    <small>Beta</small>
</h1>



<div class="flexGroup">
    <div class="ui-widget flexItem">
        <label for="companyName">Company:</label><br>
        <select name="ddl1" id="ddl1" style="display: hidden"
            onchange="configureDDL2(this, document.getElementById('ddl2'), document.getElementById('ddl3'))">
            <option value="nothing" selected>Choose</option>
            {% for p in postingDepartment %}
            <option value="{{ p }}">{{ p }}</option>
            {% endfor %}
        </select>
    </div>



    <div class="ui-widget flexItem">
        <label for="postingTeam">Team:</label><br>
        <select name="ddl2" id="ddl2" style="display: hidden"
            onchange="configureDDL3(document.getElementById('ddl1'), this, document.getElementById('ddl3'))">
            <option value="nothing" selected>Choose</option>
        </select>
    </div>


    <div class="ui-widget flexItem">
        <label for="postingTitle">Title:</label><br>
        <select name="ddl3" id="ddl3" style="display: hidden">
            <option value="All" selected>All</option>
        </select>
    </div>


    <div class="ui-widget flexItem">
        <label for="  ">Posting Archived :</label><br>
        <select name="postingArchiveStatus" id="postingArchiveStatus" style="display: hidden">
            <option value="Both" selected>Both</option>
            {% for p in postingArchiveStatus %}
            {% if p == 'false' %}
            <option value="{{ p }}">Live</option>
            {% elif p == 'true' %}
            <option value="{{ p }}">Archived</option>

            {% endif %}
            {% endfor %}
        </select>
    </div>

    <div class="ui-widget flexItem">
        <label for="  ">Profile Archived :</label><br>
        <select name="profileArchiveStatus" id="profileArchiveStatus" style="display: hidden">
            <option value="Both" selected>Both</option>
            {% for p in profileArchiveStatus %}
            {% if p == 'false' %}
            <option value="{{ p }}">Active</option>
            {% elif p == 'true' %}
            <option value="{{ p }}">Archived</option>

            {% endif %}
            {% endfor %}
        </select>
    </div>


    <div class="flexItem">
        <button id="send" class="btn btn-primary">Go</button>
    </div>
</div>

<div id="chartdivs"></div>

<script type="text/javascript">

    //Ajax call to load the bigDict
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            cache: true,
            url: "/getBigDict",
            data: "", //ajax parameters
            success: function (result) {
                console.log(result)
                myNestedVals = result;
                // document.getElementById('ddl1').style.display = 'inline';
                // document.getElementById('ddl2').style.display = 'inline';
                // document.getElementById('ddl3').style.display = 'inline';
                // document.getElementById('postingArchiveStatus').style.display = 'inline';
                // document.getElementById('age').style.display = 'inline';
            }
        });

    });


    //Code inspired from http://benalexkeen.com/auto-updating-dropdown-fields-in-javascript/
    function createOption(ddl, text, value) {
        var opt = document.createElement('option');
        opt.value = value;
        opt.text = text;
        ddl.options.add(opt);
    }

    function createOptions(optionsArray, ddl) {
        optionsArray.sort();
        for (i = 0; i < optionsArray.length; i++) {
            createOption(ddl, optionsArray[i], optionsArray[i]);
        }
    }

    function configureDDL2(ddl1, ddl2, ddl3) {
        ddl2.options.length = 0;
        ddl3.options.length = 0;
        createOption(ddl2, "All", "All");
        var ddl2keys = Object.keys(myNestedVals[ddl1.value]);
        createOptions(ddl2keys, ddl2);

    }

    function configureDDL3(ddl1, ddl2, ddl3) {
        ddl3.options.length = 0;
        createOption(ddl3, "All", "All");
        var ddl3keys = myNestedVals[ddl1.value][ddl2.value];
        createOptions(ddl3keys, ddl3);
    }



    $('#send').on('click', function (e) {
        e.preventDefault();
        var x = getFormData($('#bigForm'));

        // Clearing all funnels drawn, if any. https://stackoverflow.com/questions/3955229/remove-all-child-elements-of-a-dom-node-in-javascript
        var myNode = document.getElementById("chartdivs");
        while (myNode.firstChild) {
            myNode.removeChild(myNode.firstChild);
        }

        $.ajax({
            type: "POST",
            cache: false,
            url: "/getTable",
            data: { "companyName": document.getElementById('ddl1').value, "postingTeam": document.getElementById('ddl2').value, "postingTitle": document.getElementById('ddl3').value, "postingArchiveStatus": document.getElementById('postingArchiveStatus').value, "profileArchiveStatus": document.getElementById('profileArchiveStatus').value }, //ajax parameters
            success: function (result) {

                for (let i = 0; i < result.length; i++) {
                    chartVar = "chartdiv";
                    chartVar += i.toString();
                    $("#chartdivs").append(`<div style="text-align:center; margin:auto"><b>${result[i]['Posting ID']}</b><br><div  id=${chartVar}></div></div>`);

                    console.log(i);

                    let var1 = 0, var2 = 0, var3 = 0, var4 = 0, var5 = 0, var6 = 0, var7 = 0;

                    for (let j = 0; j < result[i]['_children'].length; j++) {
                        var1 += result[i]['_children'][j]["newLeadCount"];
                        var2 += result[i]['_children'][j]["reachedOutCount"];
                        var3 += result[i]['_children'][j]["newApplicantCount"];
                        var4 += result[i]['_children'][j]["recruiterScreenCount"];
                        var5 += result[i]['_children'][j]["phoneInterviewCount"];
                        var6 += result[i]['_children'][j]["onsiteInterviewCount"];
                        var7 += result[i]['_children'][j]["offerCount"];
                    }

                    trigger(chartVar, var1, var2, var3, var4, var5, var6, var7);
                    //trigger(chartVar, result[i]['_children'], 300, 200, 180, 50, 20, 10);
                }


            }
        });





        function getFormData($form) {
            var unindexed_array = $form.serializeArray();
            var indexed_array = {};

            $.map(unindexed_array, function (n, i) {
                indexed_array[n['name']] = n['value'];
            });

            return indexed_array;
        }
    });

</script>


{% endblock %}