{% extends "cover.html" %}


{% block main %}

<h1 style="text-align: center">The Dashboard
  <small>Beta</small>
</h1>



<form style="text-align: center" id="bigForm">


  <label for="companyName">Company:</label>
  <select name="ddl1" id="ddl1"
    onchange="configureDDL2(this, document.getElementById('ddl2'), document.getElementById('ddl3'))">
    <option value="All" selected>All</option>
    {% for p in postingDepartment %}
    <option value="{{ p }}">{{ p }}</option>
    {% endfor %}
  </select>



  <label for="postingTeam">Team:</label>
  <select name="ddl2" id="ddl2"
    onchange="configureDDL3(document.getElementById('ddl1'), this, document.getElementById('ddl3'))">
    <option value="All" selected>All</option>
    {% for p in postingTeam %}
    <option value="{{ p }}">{{ p }}</option>
    {% endfor %}
  </select>



  <label for="postingTitle">Title:</label>
  <select name="ddl3" id="ddl3">
    <option value="All" selected>All</option>
    {% for p in postingTitle %}
    <option value="{{ p }}">{{ p }}</option>
    {% endfor %}
  </select>



  <label for="  ">Posting Archived :</label>
  <select name="postingArchiveStatus">
    <option value="Both" selected>Both</option>
    {% for p in postingArchiveStatus %}
    {% if p == 'false' %}
    <option value="{{ p }}">No</option>
    {% elif p == 'true' %}
    <option value="{{ p }}">Yes</option>
    {% else %}
    <option value="{{ p }}">{{ p }}</option>
    {% endif %}
    {% endfor %}
  </select>

  &nbsp &nbsp
  <button id="send" class="btn btn-primary">Go</button>
</form>

<script>

  var bigDict;

  //Ajax call to load the bigDict
  $(document).ready(function () {
    $.ajax({
      type: "GET",
      cache: true,
      url: "/getBigDict",
      data: "", //ajax parameters
      success: function (result) {
        console.log(result)
        myNestedVals = result;

      }
    });

  });

  function createOption(ddl, text, value) {
    var opt = document.createElement('option');
    opt.value = value;
    opt.text = text;
    ddl.options.add(opt);
  }

  function createOptions(optionsArray, ddl) {
    for (i = 0; i < optionsArray.length; i++) {
      createOption(ddl, optionsArray[i], optionsArray[i]);
    }
  }

  function configureDDL2(ddl1, ddl2, ddl3) {
    ddl2.options.length = 0;
    ddl3.options.length = 0;
    createOption(ddl2, "Select team", "");
    var ddl2keys = Object.keys(myNestedVals[ddl1.value]);
    createOptions(ddl2keys, ddl2)
  }

  function configureDDL3(ddl1, ddl2, ddl3) {
    ddl3.options.length = 0;
    createOption(ddl3, "Select Posting", "");
    var ddl3keys = myNestedVals[ddl1.value][ddl2.value];
    createOptions(ddl3keys, ddl3);
  }


  function modifyddl() {
    //for the next ddl

    //Update that ddl
  }
</script>


<div id="example-table" style="margin: 20px"></div>

<script type="text/javascript">

  $('#send').on('click', function (e) {
    e.preventDefault();
    var x = getFormData($('#bigForm'));

    var table = new Tabulator("#example-table", {
      ajaxURL: "http://localhost:5000/getTable", //ajax URL
      ajaxParams: { "companyName": x['ddl1'], "postingTeam": x['ddl2'], "postingTitle": x['ddl3'], "postingArchiveStatus": x['postingArchiveStatus'] }, //ajax parameters
      ajaxConfig: "POST", //ajax HTTP request type
      // type:"GET", //set request type to Position
      contentType: 'application/json; charset=utf-8',
      height: "auto",
      layout: "fitColumns",
      placeholder: "No Data",
      index: "id",
      dataTree: true,
      dataTreeStartExpanded: true,
      columns: [
        { title: "Posting ID", field: "Posting ID", width: 200, responsive: 0 }, //never hide this column
        { title: "Origin", field: "origin", width: 150 },
        { title: "New Lead", field: "newLeadCount", width: 150 }, //hide this column first
        { title: "Reached Out", field: "reachedOutCount", width: 150 },
        { title: "New applicant", field: "newApplicantCount", align: "center", width: 150 },
        { title: "Recruiter Screen", field: "recruiterScreenCount", align: "center", width: 150 },
        { title: "Phone Interview", field: "phoneInterviewCount", align: "center", width: 150 },
        { title: "On-site", field: "onsiteInterviewCount", align: "center", width: 150 },
        { title: "Offer", field: "offerCount", align: "center", width: 150 },
      ],


    });


    function getFormData($form) {
      var unindexed_array = $form.serializeArray();
      var indexed_array = {};

      $.map(unindexed_array, function (n, i) {
        indexed_array[n['name']] = n['value'];
      });

      return indexed_array;
    }
  });

</script>


{% endblock %}