{% extends "cover.html" %}


{% block main %}
<meta name="google-signin-client_id" content="409502799386-m3oslq5hn1srai18aug08mirrp7bdesv.apps.googleusercontent.com">

<style>
    .abcRioButton.abcRioButtonLightBlue {
        margin: 0 auto;
    }
</style>

<script src="https://apis.google.com/js/platform.js" async defer></script>
<script>
    function onSignIn(googleUser) {
        console.log("retet");

        // Informing backend
        var id_token = googleUser.getAuthResponse().id_token;
        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'https://tathiring.directi.com/login');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function () {
            console.log('Signed in as: ' + xhr.responseText);
        };
        xhr.send('idtoken=' + id_token);


    }

</script>


<script>
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }
</script>




<div style="text-align: center">
    <h2>Please login to continue</h2>
    <!-- <div class="g-signin2" style="text-align: center" data-onsuccess="onSignIn"></div> -->

    <br><br>
    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="light" data-width="300" data-height="50"
        data-longtitle="true"></div>
    <!-- <a href="#" onclick="signOut();">Sign out</a> -->

</div>








{% endblock %}