<!-- Used to display the Candidates whose count was reported  -->

{% extends "cover.html" %} {% block main %}

<!-- New style for this table -->
<style>
   #candidate-table {
  border-collapse: collapse;
  width: 100%;
}
  #candidate-table td  {
  border: 1px solid #ddd;
  padding: 8px;
}

  #candidate-table tbody tr:nth-child(even){
    background-color: #f2f2f2;
  }

  #candidate-table tbody tr:hover {
    background-color: #ddd;
  }
  
  #candidate-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>

<div style="padding:0% 50% 0% 50%">
  <table id="candidate-table">
    <thead>
      <tr>
        <th></th>
        <th width="200">Candidate Name</th>
      </tr>
    </thead>
    <tbody>
      {% for can in candidates %}
        <tr>
          <th>{{ can['count'] }}</th>
          <td><a href="https://hire.lever.co/candidates/{{ can['Profile ID'] }}">{{ can["Candidate Name"]}}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- <script type="text/javascript">
    var candidateTable = new Tabulator("#candidate-table", {});
  </script> -->
</div>

















{% endblock %}
