<!-- Used to display the Candidates whose count was reported  -->

{% extends "cover.html" %} {% block main %}

<!-- New style for this table -->
<link href="dist/css/tabulator_semantic-ui.min.css" rel="stylesheet">

<div style="position:relative;text-align:center;">
  <table id="candidate-table">
    <thead>
      <tr>
        <th></th>
        <th width="200">Candidate Name</th>
      </tr>
    </thead>
    <tbody>
      {% set count = 1 %}
      {% for can in candidates %}
        <tr>
          <th>{{ count }}</th>
          <td><a href="https://hire.lever.co/candidates/{{ can['Profile ID'] }}">{{ can["Candidate Name"]}}</a></td>
        </tr>
        {% count += 1 %}
      {% endfor %}
    </tbody>
  </table>

  <!-- <script type="text/javascript">
    var candidateTable = new Tabulator("#candidate-table", {});
  </script> -->
</div>

















{% endblock %}
