{% extends "cover.html" %}

{% block main %}



<style>
    body {
        font-family: Arial;
    }

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>


<div class="tab">
    <button class="tablinks" onclick="openCity(event, 'London')">Referrals</button>
    <button class="tablinks" onclick="openCity(event, 'Paris')">Application to Archive</button>
    <button class="tablinks" onclick="openCity(event, 'Tokyo')">Application to Offer</button>
</div>

<div id="London" class="tabcontent">
    <h3>Referrals in New Applicant stage</h3>

    <span class="ui-widget flexItem">
        <label for="">From:</label>
        <input type="text" id="fromdatepicker">
    </span>



    <span class="ui-widget flexItem">
        <label for="">To:</label>
        <input type="text" id="todatepicker">
    </span>

    <span><button id="sendForTable" class="btn btn-primary flexItem2">Go</button></span>

    <div id="referal-up-table"></div>
    <div id="referal-low-table" style="margin: 20px;"></div>

</div>




<div id="Paris" class="tabcontent">
    <h3>Paris</h3>
    <p>Paris is the capital of France.</p>
</div>




<div id="Tokyo" class="tabcontent">
    <h3>Tokyo</h3>
    <p>Tokyo is the capital of Japan.</p>
</div>


<script>
    // Just for top tabs
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // for loading date picker
    $(function () {
        $("#fromdatepicker").datepicker({ dateFormat: 'dd-mm-yy' });
    });
    $(function () {
        $("#todatepicker").datepicker({ dateFormat: 'dd-mm-yy' });
    });
</script>



<!-- Script after hitting Go -->
<script type="text/javascript">
    $('#sendForTable').on('click', function (e) {

        // document.getElementById("example-table").style.display = "flex";
        // document.getElementById("chartdivs").style.display = "none";
        console.log("Go clicked");




        $.ajax({
            type: "POST",
            cache: false,
            url: "/teamReferals",
            data: {
                "fromDate": document.getElementById('fromdatepicker').value, "toDate": document.getElementById('todatepicker').value,
            }, // multiple data sent using ajax
            success: function (result) {
                // console.log(result['a']);
                // console.log("\n\nSpaced");
                // console.log(result['b']);


                // Nested calculator of TOTAL for each posting
                // var nestedCalc = function (values, data, calcParams) {
                //     var calc = 0;

                //     data.forEach(function (row) {
                //         row._children.forEach(function (child) {
                //             calc += child[calcParams.field];
                //         })
                //     });

                //     return calc;
                // }


                // Creating a Tabulator object for lower table
                var tableUp = new Tabulator("#referal-up-table", {
                    data: result.up,
                    // height: "40vh",
                    layout: "fitColumns",
                    placeholder: "No Data",
                    // index: "id",
                    // dataTreeStartExpanded: true,
                    // groupBy: "title",
                    // groupHeader: customGroupHeader,

                    columns: [
                        { title: "Recruiter", field: "Recruiter", width: 200, responsive: 0 },
                        { title: "Jan", field: "Jan", bottomCalc: "sum" },
                        { title: "Feb", field: "Feb", bottomCalc: "sum" },
                        { title: "Mar", field: "Mar", bottomCalc: "sum" },
                        { title: "Apr", field: "Apr", bottomCalc: "sum" },
                        { title: "May", field: "May", bottomCalc: "sum" },
                        { title: "Jun", field: "Jun", bottomCalc: "sum" },
                        { title: "Jul", field: "Jul", bottomCalc: "sum" },
                        { title: "Aug", field: "Aug", bottomCalc: "sum" },
                        { title: "Sept", field: "Sept", bottomCalc: "sum" },
                        { title: "Oct", field: "Oct", bottomCalc: "sum" },
                        { title: "Nov", field: "Nov", bottomCalc: "sum" },
                        { title: "Dec", field: "Dec", bottomCalc: "sum" },
                        { title: "Grand Total", field: "Grand Total", bottomCalc: "sum" },
                    ],

                    // footerElement: "<button id='download-xl'>Download Excel</button><button id='download-PDF'>Download PDF</button>",

                });

                // Creating a Tabulator object for lower table
                var tableLow = new Tabulator("#referal-low-table", {
                    data: result.low,
                    height: "60vh",
                    layout: "fitColumns",
                    placeholder: "No Data",
                    // index: "id",
                    // dataTree: true,
                    // dataTreeStartExpanded: true,
                    // groupBy: "title",
                    // groupHeader: customGroupHeader,

                    columns: [
                        { title: "Profile ID", field: "Profile ID" },
                        { title: "Candidate Name", field: "CandidateName" },
                        { title: "Application ID", field: "Application ID" },
                        { title: "Posting ID", field: "Posting ID" },
                        { title: "Posting Title", field: "Posting Title" },
                        { title: "Created At (GMT)", field: "Created At (GMT)" },
                        { title: "Last Story At (GMT)", field: "Last Story At (GMT)" },
                        { title: "Recruiter", field: "Posting Owner Name", width: 200 },
                        { title: "Profile Link", field: "Profile Link", align: "center", formatter: "link", formatterParams: { target: "_blank", label: function (cell) { return "Click for " + cell.getRow().getData().CandidateName } } },
                    ],

                    // footerElement: "<button id='download-xl'>Download Excel</button><button id='download-PDF'>Download PDF</button>",

                });

            }
        });











    });



</script>
{% endblock %}