{% extends "cover.html" %}

{% block main %}



<style>
    body {
        font-family: Arial;
    }

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>


<div class="tab">
    <button class="tablinks" onclick="openCity(event, 'London')">Referrals</button>
    <button class="tablinks" onclick="openCity(event, 'Paris')">Application to Archive</button>
    <button class="tablinks" onclick="openCity(event, 'Tokyo')">Application to Offer</button>
</div>

<div id="London" class="tabcontent">
    <h3>Referrals in New Applicant stage</h3>

    <span class="ui-widget flexItem">
        <label for="">From:</label>
        <input type="text" id="fromdatepicker">
    </span>



    <span class="ui-widget flexItem">
        <label for="">To:</label>
        <input type="text" id="todatepicker">
    </span>

    <span><button id="sendForTable" class="btn btn-primary flexItem2">Go</button></span>

    <div id="referal-main-table" style="margin: 20px;"></div>

</div>




<div id="Paris" class="tabcontent">
    <h3>Paris</h3>
    <p>Paris is the capital of France.</p>
</div>




<div id="Tokyo" class="tabcontent">
    <h3>Tokyo</h3>
    <p>Tokyo is the capital of Japan.</p>
</div>


<script>
    // Just for top tabs
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // for loading date picker
    $(function () {
        $("#fromdatepicker").datepicker({ dateFormat: 'dd-mm-yy' });
    });
    $(function () {
        $("#todatepicker").datepicker({ dateFormat: 'dd-mm-yy' });
    });
</script>



<!-- Script after hitting Go -->
<script type="text/javascript">
    $('#sendForTable').on('click', function (e) {

        // document.getElementById("example-table").style.display = "flex";
        // document.getElementById("chartdivs").style.display = "none";
        console.log("Go clicked");




        $.ajax({
            type: "POST",
            cache: false,
            url: "/teamReferals",
            data: {
                "fromDate": document.getElementById('fromdatepicker').value, "toDate": document.getElementById('todatepicker').value,
            }, // multiple data sent using ajax
            success: function (result) {
                console.log(result);

                // Creating a Tabulator object
                var table = new Tabulator("#referal-main-table", {
                    data: result,
                    height: "75vh",
                    layout: "fitColumns",
                    placeholder: "No Data",
                    // index: "id",
                    dataTree: true,
                    dataTreeStartExpanded: true,
                    groupBy: "title",
                    // groupHeader: customGroupHeader,
                    tooltips: function (cell) {


                    },
                    columns: [
                        { title: "Posting", field: "title", width: 200, responsive: 0 },
                        // { title: "Origin", field: "origin", width: 150 },
                        { title: "New Lead", field: "newLeadCount", bottomCalc: nestedCalc, bottomCalcParams: { field: "newLeadCount" } },
                        { title: "Reached Out", field: "reachedOutCount", bottomCalc: nestedCalc, bottomCalcParams: { field: "reachedOutCount" } },
                        { title: "New applicant", field: "newApplicantCount", bottomCalc: nestedCalc, bottomCalcParams: { field: "newApplicantCount" } },
                        { title: "Recruiter Screen", field: "recruiterScreenCount", bottomCalc: nestedCalc, bottomCalcParams: { field: "recruiterScreenCount" } },
                        { title: "Phone Interview", field: "phoneInterviewCount", bottomCalc: nestedCalc, bottomCalcParams: { field: "phoneInterviewCount" } },
                        { title: "On-site", field: "onsiteInterviewCount", bottomCalc: nestedCalc, bottomCalcParams: { field: "onsiteInterviewCount" } },
                        { title: "Offer", field: "offerCount", bottomCalc: nestedCalc, bottomCalcParams: { field: "offerCount" } },
                        { title: "Offer Approval/ed", field: "offerApprovalCount", bottomCalc: nestedCalc, bottomCalcParams: { field: "offerApprovalCount" } },
                        { title: "Hired", field: "hiredCount", bottomCalc: nestedCalc, bottomCalcParams: { field: "hiredCount" } },
                    ],

                    footerElement: "<button id='download-xl'>Download Excel</button><button id='download-PDF'>Download PDF</button>",

                });

            }
        });











    });



</script>
{% endblock %}