{% extends "cover.html" %}

{% block main %}


<!-- <form action="http://localhost:5000/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" />
    <input type="submit" />
</form> -->


<div class="form-wrap">
    <h3>Upload Data Dump from Lever</h3>

    <form action="/upload" method="post" enctype="multipart/form-data">
        Select csv to upload:
        <input type="file" name="file"><br><br>
        <input type="submit" value="Upload CSV file" name="submit">


</div>

<script>
    // Modify title
    document.title = "Upload";
</script>
{% endblock %}