<!DOCTYPE html>
<html>

<head>
    <title>TAT Dashboard</title>
    <link href="dist/css/customStyle.css" rel="stylesheet">
    <link href="dist/css/tabulator.min.css" rel="stylesheet">
    <script type="text/javascript" src="dist/js/tabulator.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet"
        href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>

</head>

<body>

    {% block main %}{% endblock %}

</body>

</html>